---
layout: main

next_meetup:
  url: '#'
  meetup_no: 0

---

{% assign next_meetup = page.next_meetup %}
{% for some_page in site.pages %}
    {% if some_page.meetup_no > next_meetup.meetup_no and some_page.language == page.language %}
        {% assign next_meetup = some_page %}
    {% endif %}
{% endfor %}

{% if page.language == 'en' %}
    {% assign upcoming_text = 'Upcoming' %}

    {% assign about_text = 'About' %}
    {% assign who_we_are_text = 'Who we are?' %}
    {% assign about_us_text = 'Mobile Warsaw is a community of mobile programmers. We organize regular meetings, where mobile developers talk to mobile developers about their experiences.' %}
    {% assign established_text = 'Mobile Warsaw was established in April 2013.' %}
    {% assign how_does_it_work_text = 'How does it work?' %}
    {% assign monthly_meeting_text = 'We meet once a month in one of the Warsaw's pubs (different for each meeting).' %}
    {% assign meeting_start_text = 'Meeting starts with presentations by developers, passionates, community leaders, tools providers, technical leaders, ... ' %}
    {% assign after_meeting_text = 'After that we have an important networking part up to late night hours.' %}

    {% assign propose_talk_header_text = 'Propose a talk' %}
    {% assign propose_talk_text = 'If you want to present a subject in front of MobileWarsaw community, or suggest a topic - please fill the' %}
    {% assign proposal_form_text = 'proposal form' %}

    {% assign partners_text = 'Partners' %}
    {% assign jetbrains_text = 'At every meetup you have a chance to win two JetBrains tools licences.' %}

    {% assign go_to_meetup_text = 'More info' %}
    {% assign previous_meetings_text = 'Previous meetups' %}
    {% assign meetup_name = 'Meetup' %}

    {% assign on_tour_text = 'Mobile Warsaw on Tour' %}
    {% assign on_tour_title= 'Idea' %}
    {% assign on_tour_title_meetings= 'Meetings' %}
    {% assign on_tour_text_description = 'Mobile Warsaw on Tour is our new initiative which aims to promote mobile developers meetups throughout other cities in Poland.' %}
    {% assign on_tour_text_promo = 'If you wish to present on one of our tours - please fill the' %}
{% else %}
    {% assign upcoming_text = 'Najbliższe spotkanie' %}

    {% assign about_text = 'O nas' %}
    {% assign who_we_are_text = 'Kim jesteśmy?' %}
    {% assign about_us_text = 'Mobile Warsaw to społeczność programistów mobilnych. Organizujemy regularne spotkania, na którym inżynierowie mobilni opowiadają innym inżynierom mobilnym o swoich doświadczeniach.' %}
    {% assign established_text = 'Mobile Warsaw powstało w kwietniu 2013.' %}
    {% assign how_does_it_work_text = 'Jak działamy ?' %}
    {% assign monthly_meeting_text = 'Spotykamy się raz w miesiącu w jednym z Warszawskich pubów (każde spotkanie odbywa się w innym miejscu).' %}
    {% assign meeting_start_text = 'Spotkanie rozpoczyna się prezentacjami - głównie inżynierów, passionatów, liderów społeczności programistów, producentów narzędzi, liderów technologicznych, ... ' %}
    {% assign after_meeting_text = 'Póżniej do późna w nocy jedna z ważniejszych części spotkania - czyli "networking" .' %}

    {% assign propose_talk_header_text = 'Zaproponuj prezentację' %}
    {% assign propose_talk_text = 'Jeśli chcesz zaprezentować się w Warszawskiej społeczności Mobile Warsaw, zaproponować temat - wypełnij' %}
    {% assign proposal_form_text = 'formularz' %}

    {% assign partners_text = 'Partnerzy' %}
    {% assign jetbrains_text = 'Na każdym spotkaniu można wygrać dwie licencje narzędzi firmy JetBrains!' %}

    {% assign go_to_meetup_text = 'Więcej informacji' %}
    {% assign previous_meetings_text = 'Poprzednie spotkania' %}
    {% assign meetup_name = 'Spotkanie' %}

    {% assign on_tour_text = 'Mobile Warsaw on Tour' %}
    {% assign on_tour_title= 'Idea' %}
    {% assign on_tour_title_meetings= 'Spotkania' %}
    {% assign on_tour_text_description = 'Mobile Warsaw on Tour jest nową inicjatywą promującą spotkania developerów aplikacji mobilnych w innych miastach w Polsce.' %}
    {% assign on_tour_text_promo = 'Jeśli chciałbyś chcesz zaprezentować się na jednym z wyjazdów - wypełnij' %}
{% endif %}


<div class="participants">
    <img src="img/button-empty.png">
    <h2 class="participants_inner">{{ upcoming_text }}</h2>
</div>

<div class="row">
    <div class="offset1 span10 participants-wrap">
        <div class="row place-row">
            <div class="span10 text-center upcoming-header">
                <address-index>
                    <strong><a href="{{next_meetup.url}}">{{ meetup_name }} #{{next_meetup.meetup_no}}</a></strong>
                </address-index>
            </div>
        </div>
        <br>
        <div class="row place-row">
            <div class="offset2 span5">
                <div class="row">
                    <div class="span3" style="text-align: right">
                        <address-index>
                            <strong>{{ next_meetup.date }}</strong><br/>
                            {{ next_meetup.start_time }}
                        </address-index>
                    </div>
                    <div class="span2">
                        <address-index>
                            <strong>{{ next_meetup.place_name }}</strong><br/>
                            {{ next_meetup.place_address }}
                        </address-index>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {% for speaker in next_meetup.speakers %}
            {% capture align %}{% cycle 'right', 'left' %}{% endcapture %}
            <div class="span5">
                <div class="media">
                    <img src="{{ speaker.photo }}" alt="" class="pull-{{ align }} speaker-photo">
                    <div class="media-body participant-desc text-{{ align }}">
                        <strong>{{ speaker.name }}</strong><br/>
                        <em>{{ speaker.description }}</em>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="span3 pull-right" style="padding-right: 20px;">
                <a href="{{ next_meetup.url }}" class="join pull-right" style="margin: 0;">{{ go_to_meetup_text }}</a>
            </div>
        </div>
    </div>
</div>

<div class="participants">
    <img src="img/button-empty.png">
    <h2 class="participants_inner">{{ previous_meetings_text }}</h2>
</div>

<div class="row">
    <div class="offset1 span10 participants-wrap text-center">
        {% assign last_past_meetup = next_meetup.meetup_no | minus: 1 %}
        {% for iterator in (1..last_past_meetup) reversed %}
            {% for some_page in site.pages  %}
                {% if some_page.meetup_no == iterator and some_page.language == page.language %}

                    <div class="span3">
                        <a href="{{ some_page.url }}">
                            <strong>{{ meetup_name }} #{{ some_page.meetup_no }}</strong>
                        </a>
                        {% for speaker in some_page.speakers %}
                            <br/>{{ speaker.name }}
                        {% endfor %}
                        <br/><br/>
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
</div>

<div class="participants">
    <img src="img/button-empty.png">
    <h2 class="participants_inner">{{ on_tour_text }}</h2>
</div>

<div class="row">
    <div class="offset1 span10 participants-wrap">
        <div class="row">
            <div class="span4 offset1">
                <div class="media">
                    <h3>{{ on_tour_title }}</h3>
                    <span>
                        {{ on_tour_text_description }}
                        <br/><br/>
                        {{ on_tour_text_promo }}
                        <a target="_blank"
                        href="https://docs.google.com/forms/d/1-mztU4DrS2coUbLjkFWoJ4U5ftY_XPCibl6pX23bjD0/viewform">{{ proposal_form_text }}</a>.
                    </span>
                </div>
            </div>
            <div class="span4">
                    <div class="media">
                    <h3>{{ on_tour_title_meetings }}</h3>

                    {% for some_page in site.pages  %}
                    {% if some_page.is_on_tour == 1 and some_page.language == page.language %}

                    <div>
                        <a href="{{ some_page.url }}">
                            <strong>{{ meetup_name }} - {{ some_page.city }}</strong>
                        </a>
                        {% for speaker in some_page.speakers %}
                            <br/>{{ speaker.name }}
                        {% endfor %}
                        <br/><br/>
                    </div>
                    {% endif %}
                 {% endfor %}
            </div>
        </div>
    </div>
</div>
</div>

<div class="participants">
    <img src="img/button-empty.png">
    <h2 class="participants_inner">{{about_text}}</h2>
</div>

<div class="row">
    <div class="offset1 span10 participants-wrap">
        <div class="row">
            <div class="span4 offset1">
                <div class="media">
                    <h3>{{ who_we_are_text }}</h3>
                    <span>
                        {{ about_us_text}}
                        <br/><br/>
                        {{ established_text }}
                    </span>
                </div>
            </div>
            <div class="span4">
                <div class="media">
                    <h3>{{ how_does_it_work_text }}</h3>
                    <span>
                        {{ monthly_meeting_text }}
                        <br/><br/>
                        {{ meeting_start_text }}
                        <br/><br/>
                        {{ after_meeting_text }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="participants">
    <img src="img/button-empty.png">
    <h2 class="participants_inner">{{ propose_talk_header_text }}</h2>
</div>

<div class="row">
    <div class="offset2 span8 participants-wrap text-center">
        <div class="media">
            {{ propose_talk_text }}
            <a
                    target="_blank"
                    href="https://docs.google.com/forms/d/1-mztU4DrS2coUbLjkFWoJ4U5ftY_XPCibl6pX23bjD0/viewform">{{ proposal_form_text }}</a>.
        </div>
    </div>
</div>

<div class="participants">
    <img src="img/button-empty.png">
    <h2 class="participants_inner">{{ partners_text }}</h2>
</div>

<div class="row">
    <div class="offset3 span6 participants-wrap text-center">
        <a href="http://www.jetbrains.com/"><img src="/img/logo_jetbrains.gif" style="max-height: 60px;"></a>
        <br/>{{ jetbrains_text }}
    </div>
</div>

