<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
    <link href='http://fonts.googleapis.com/css?family=Maven+Pro:400,700' rel='stylesheet' type='text/css'>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.3/jquery.backstretch.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){

            var ua = navigator.userAgent.toLowerCase();
            var isAndroid = ua.indexOf("android") > -1; //&& ua.indexOf("mobile");
            if(isAndroid) {
                $('body').css({
                    background: '#d5c9a9',
                    backgroundImage: 'url(../img/bg_and.jpg)',
                    backgroundRepeat: 'no-repeat',
                    backgroundPosition: 'center 0'


                })
            }
        })
    </script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>



<div id="wrap">
    <div class="top">
        <div class="container">
            <div class="row">
                <div class="span7">
                    <h1>
                        <a href="#" class="brand"><img src="../img/logo.png" alt="Mobile Warsaw"></a>
                        <span>{{ page.date }}</span>
                    </h1>
                </div>

                <div class="span2">
                    <ul class="inline unstyled">
                        <li><a href="{{page.id}}{{page.other_language}}.html" >{{page.other_version_text}}</a></li>
                    </ul>
                </div>

                <div class="span3">
                    <ul class="inline unstyled pull-right">
                        <li class="gplus"><a href="https://plus.google.com/114703594903107902174" rel="publisher"><img src="../img/gplus.png" alt=""></a></li>
                        <li><a class="facebook" href="https://www.facebook.com/MobileWarsaw" target="_blank"><img src="../img/fb.png" alt=""></a></li>
                        <li><a href="https://twitter.com/MobileWarsaw" target="_blank"><img src="../img/twit.png" alt="" ></a></li>
                    </ul>
                </div>
            </div>
        </div><!--container-->
    </div><!--top-->

    <div class="content">
        <div class="container">
            {{ content }}
        </div><!--container-->
    </div><!--content-->

    <!--content-->
    <div id="push"></div>
</div><!--wrap-->
<footer>
    <div class="container">
        <ul class="pull-left unstyled inline ">
            <!--<li style="min-width: 91px;">Sponsorzy:</li>-->
            <!--<li><img src="img/sponsor.png" alt=""> </li>-->
        </ul>
        <div class="clearfix"></div>
        <ul class="pull-left unstyled inline ">
            <li>{{page.organizers_text}}</li>
            <li><a href="http://www.polidea.com/" target="_blank"><img src="img/polidea.png" alt=""></a> </li>
            <li><a href="http://macoscope.net/" target="_blank"><img src="img/macoscope.png" alt=""></a></li>
            <li><a href="http://www.futuremind.com/" target="_blank"><img src="img/fm.png" alt=""></a></li>
        </ul>
        {% if page.sponsor_logo %}
            <ul class="pull-left unstyled inline ">
                <li>Sponsor:</li>
                <li><a href="{{ page.sponsor_url }}" target="_blank"><img src="{{ page.sponsor_logo }}" alt=""></a></li>
            </ul>
        {% endif %}
        <p class="pull-right">{{ page.designed_by_text }} <a href="http://www.futuremind.com" target="_blank">FutureMind</a></p>
    </div>
</footer>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-7528028-54', 'mobile-warsaw.pl');
    ga('send', 'pageview');

</script>
</body>
</html>
