---
main_en:
  other_version_text: "Wersja polska"
  organizers_text: "Organizers"
  main_text: Mobile Warsaw
  ontour_text: ON TOUR
  description: |
    Mobile Warsaw is a community of mobile programmers. We organize regular meetings,
    where mobile developers talk to mobile developers about their experiences.

main_pl:
  other_version_text: "English version"
  organizers_text: "Organizatorzy"
  main_text: Mobile Warsaw
  ontour_text: ON TOUR
  description: |
    Mobile Warsaw to społeczność programistów mobilnych. Organizujemy regularne spotkania,
    na którym inżynierowie mobilni opowiadają innym inżynierom mobilnym o swoich doświadczeniach.
---
{% if page.language == 'en' %}
    {% assign main_lang = page.main_en %}
{% else %}
    {% assign main_lang = page.main_pl %}
{% endif %}

{% for some_page in site.pages %}
    {% if some_page.meetup_no == page.meetup_no and some_page.meetup_type == page.meetup_type and some_page.language != page.language %}
        {% assign other_language_url = some_page.url %}
    {% endif %}
{% endfor %}

<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="UTF-8">
    <meta property="og:image" content="http://mobile-warsaw.pl/img/logo_mw_big.png"/>
    <meta property="og:title" content="{{ page.title }}"/>
    <meta property="og:url" content="http://mobile-warsaw.pl{{ page.url }}"/>
    <meta property="og:site_name" content="Mobile Warsaw"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description"
          content="{{main_lang.description | newline_to_br | replace: '<br />', ' ' | strip_newlines }}"/>

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@MobileWarsaw">
    <meta name="twitter:title" content="Mobile Warsaw">
    <meta name="twitter:description"
          content="{{main_lang.description | newline_to_br | replace: '<br />', ' ' | strip_newlines }}">
    <meta name="twitter:image" content="http://mobile-warsaw.pl/img/logo_mw.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.3/jquery.backstretch.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){

            var ua = navigator.userAgent.toLowerCase();
            var isAndroid = ua.indexOf("android") > -1; //&& ua.indexOf("mobile");
            if(isAndroid) {
                $('body').css({
                    background: '#d5c9a9',
                    backgroundImage: 'url(../img/bg_and.jpg)',
                    backgroundRepeat: 'no-repeat',
                    backgroundPosition: 'center 0'
                })
            }
        })
    </script>
    <link rel="stylesheet" href="css/style_2013_11_03.css">
</head>
<body>



<div id="wrap">
    <div class="top">
        <div class="container">
            <div class="row">
                <div class="span5">
                    <h1>
                        {% if page.meetup_type == 'normal' %}
                            {% if page.language == 'en' %}
                                <a href="/index.html" class="brand"><img src="../img/logo.png" alt="Mobile Warsaw"></a>
                            {% else %}
                                <a href="/index_pl.html" class="brand"><img src="../img/logo.png" alt="Mobile Warsaw"></a>
                            {% endif %}
                        {% else %}
                            {% if page.language == 'en' %}
                                <a href="/index_ontour.html" class="brand"><img src="../img/logo_ontour.png" alt="Mobile Warsaw on tour"></a>
                            {% else %}
                                <a href="/index_ontour_pl.html" class="brand"><img src="../img/logo_ontour.png" alt="Mobile Warsaw on tour"></a>
                            {% endif %}
                        {% endif %}
                    </h1>
                </div>

                <div class="span4">
                    <ul class="inline unstyled">
                        <li>
                            {% if page.is_index %}
                                {% if page.meetup_type == 'normal' %}
                                    {% if page.language == 'en' %}
                                        <a href="index_ontour.html" class="ontour">{{ main_lang.ontour_text }}</a>
                                    {% else %}
                                        <a href="index_ontour_pl.html" class="ontour">{{ main_lang.ontour_text }}</a>
                                    {% endif %}
                                {% else %}
                                    {% if page.language == 'en' %}
                                        <a href="index.html" class="ontour">{{ main_lang.main_text }}</a>
                                    {% else %}
                                        <a href="index_pl.html" class="ontour">{{ main_lang.main_text }}</a>
                                    {% endif %}
                                {% endif %}
                            {% else %}
                               <span class="top-date">{{ page.date }}</span>
                            {% endif %}
                        </li>
                        <li><a href="{{ other_language_url }}" >{{main_lang.other_version_text}}</a></li>
                    </ul>
                </div>

                <div class="span3">
                    <ul class="inline unstyled pull-right">
                        <li><a href="http://www.meetup.com/Mobile-Warsaw/" rel="publisher"><img src="../img/meet_up.png" alt=""></a></li>
                        <li class="gplus"><a href="https://plus.google.com/114703594903107902174" rel="publisher"><img src="../img/gplus.png" alt=""></a></li>
                        <li><a class="facebook" href="https://www.facebook.com/MobileWarsaw" target="_blank"><img src="../img/fb.png" alt=""></a></li>
                        <li><a href="https://twitter.com/MobileWarsaw" target="_blank"><img src="../img/twit.png" alt="" ></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="container">
            {{ content }}
        </div>
    </div>


    <div id="push"></div>
</div>

<footer class="navbar navbar-fixed-bottom">
    <div class="container">
        <ul class="pull-left unstyled inline ">
        </ul>
        <div class="clearfix"></div>
        <ul class="pull-left unstyled inline ">
            <li>{{ main_lang.organizers_text}}</li>
            <li><a href="http://www.polidea.com/" target="_blank"><img src="img/polidea.png" alt=""></a> </li>
            <li><a href="http://macoscope.net/" target="_blank"><img src="img/macoscope.png" alt=""></a></li>
            <li><a href="http://www.futuremind.com/" target="_blank"><img src="img/fm.png" alt=""></a></li>
        </ul>
        {% if page.sponsors %}
            <ul class="pull-right unstyled inline ">
                <li>Sponsored by</li>
                {% for sponsor in page.sponsors %}
                <li>
                    <a href="{{ sponsor.url }}" target="_blank">
                        <img src="{{ sponsor.logo }}" alt="" class="sponsor_logo">
                    </a>
                </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</footer>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-7528028-54', 'mobile-warsaw.pl');
    ga('send', 'pageview');

</script>
</body>
</html>
