---
layout: main
---
<div class="participants" >
    <img src="img/button-empty.png" alt="{{ page.text_participate }}">
    <h2 class="participants_inner">{{ page.text_participate }}</h2>
</div>
<div class="row participants-wrap">
    <div class="offset1 span10">
        <div class="row">
            <div class="span5">
                <div class="media">
                    <img src="{{ page.left_speaker_photo }}" alt="" class="pull-right speaker-photo">
                    <div class="media-body participant-desc text-right">
                        <strong>{{ page.left_speaker_name }}</strong><br/>
                        <em>{{ page.left_speaker_bio }}</em>
                    </div>
                </div>
            </div>
            <div class="span5">
                <div class="media">
                    <img src="{{ page.right_speaker_photo }}" alt="" class="pull-left speaker-photo">
                    <div class=" media-body participant-desc text-left">
                        <strong>{{ page.right_speaker_name }}</strong><br/>
                        <em>{{ page.right_speaker_bio }}</em>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="place" >
    <img src="img/button-empty.png" alt="{{ page.place_head_text }}">
    <h2 class="place_inner">{{ page.place_head_text }}</h2>
</div>

<div class="row place-row">
    <div class="offset1 span5">
        <ul class="unstyled event-list">
            <li>
                <span class="pull-left">{{page.time_introduction}}</span>
                <p>{{page.text_introduction}}</p>
            </li>
            <li>
                <span class="pull-left">{{page.time_left_speaker}}</span>
                <p>
                    {{ page.left_speaker_name }}
                    <small>{{page.text_left_speaker}}</small>
                </p>
            </li>
            <li>
                <span class="pull-left">{{page.time_right_speaker}}</span>
                <p>
                    {{ page.right_speaker_name }}
                    <small>{{page.text_right_speaker}}</small>
                </p>
            </li>
            <li>
                <span class="pull-left">{{page.time_networking}}</span>
                <p>{{page.text_networking}}</p>
            </li>
        </ul>

        {% if page.prev_meeting_id or page.next_meeting_id %}
            <ul class="inline"> 
                {% if page.prev_meeting_id %}
                    <li><a href="{{ page.prev_meeting_id }}{{page.current_language}}.html" style="color: #fff; font-size: small;">&laquo; {{ page.text_prev_meeting }}</a></li>
                {% endif %}
                {% if page.next_meeting_id %}
                    <li style="float: right"><a href="{{ page.next_meeting_id }}{{page.current_language}}.html" style="color: #fff; font-size: small;">{{ page.text_next_meeting }} &raquo;</a></li>
                {% endif %}
            </ul>
        {% endif %}
    </div>

    <div class="span5">
        <div class="row">
            <div class="span2">
                <address>
                    <strong>{{ page.place_name }}</strong><br/>
                    {{ page.place_address }}
                </address>
            </div><!--span-->
            <div class="span3" style="text-align: right">
                <address>
                    <strong>{{ page.date }}</strong><br/>
                    {{ page.start_time }}
                </address>
            </div>
        </div><!--row-->
        <div class="row" style="overflow: hidden;">
            <div class="span5">
                <iframe width="100%"
                        height="192"
                        frameborder="0"
                        scrolling="no"
                        marginheight="0"
                        marginwidth="0"
                       src="{{ page.place_gmaps_url }}"
                        ></iframe>
            </div>
        </div><!--row-->
        <a href="{{ page.meetup_link }}" class="join pull-right">{{ page.meetup_text }}</a>
    </div><!--span-6-->
</div>
