---
layout: main

meeting_en:
    text_prev_meeting: "previous meeting"
    text_next_meeting: "next meeting"
    place_head_text: "Agenda and venue"
    past_text_participate: "Speakers"
    future_text_participate: "Speakers"
    past_meetup_text: "Participated"
    future_meetup_text: "Join the meetup"
    meetup_name: "Meetup"

meeting_pl:
    text_prev_meeting: "poprzednie spotkanie"
    text_next_meeting: "następne spotkanie"
    place_head_text: "Czas i miejsce"
    past_text_participate: "Wystąpili"
    future_text_participate: "Wystąpią"
    past_meetup_text: "Wzięli udział"
    future_meetup_text: "Dołącz do wydarzenia"
    meetup_name: "Spotkanie"
---

{% if page.language == 'en' %}
    {% assign meeting_lang = page.meeting_en %}
{% else %}
    {% assign meeting_lang = page.meeting_pl %}
{% endif %}

{% assign prev_meetup_no = page.meetup_no | minus: 1 %}
{% assign next_meetup_no = page.meetup_no | plus: 1 %}

{% for some_page in site.pages %}
    {% if some_page.meetup_no == prev_meetup_no and some_page.language == page.language and some_page.meetup_type == page.meetup_type %}
        {% assign prev_meeting_url = some_page.url %}
    {% endif %}
    {% if some_page.meetup_no == next_meetup_no and some_page.language == page.language and some_page.meetup_type == page.meetup_type %}
        {% assign next_meeting_url = some_page.url %}
    {% endif %}
{% endfor %}
{% if page.upcoming %}
    {% assign text_participate = meeting_lang.future_text_participate %}
    {% assign meetup_text = meeting_lang.future_meetup_text %}
{% else %}
    {% assign text_participate = meeting_lang.past_text_participate %}
    {% assign meetup_text = meeting_lang.past_meetup_text %}
{% endif %}

<ul class="inline" style="margin-bottom: 30px;">
    {% if prev_meeting_url != null %}
    <li><a href="{{prev_meeting_url}}" class="links-to-other-meetings">&laquo; {{ meeting_lang.text_prev_meeting }}</a></li>
    {% endif %}
    {% if next_meeting_url != null %}
    <li style="float: right"><a href="{{next_meeting_url}}" class="links-to-other-meetings">{{ meeting_lang.text_next_meeting }} &raquo;</a></li>
    {% endif %}
    <li style="float: none">
        <div class="row place-row">
            <div class="span12 text-center upcoming-header">
                <address-index>
                    {% if page.meetup_type == 'normal' %}
                        <strong>{{ meeting_lang.meetup_name }} #{{page.meetup_no}}</strong>
                    {% else %}
                        <strong>{{ meeting_lang.meetup_name }} - {{page.city}}</strong>
                    {% endif %}
                </address-index>
            </div>
        </div>
    </li>
</ul>

<div class="participants" >
    <img src="{{ page.root }}img/button-empty.png" alt="{{ text_participate }}">
    <h2 class="participants_inner">{{ text_participate }}</h2>
</div>

<div class="row">
    {% capture rest %}{{ page.speakers.size | modulo:2 }}{% endcapture %}
    {% if rest == '0' %}{% assign oddness = false %}{% else %}{% assign oddness = true %}{% endif %}

    {% capture speakers_style %}
        {% if oddness %}
            offset2 span8
        {% else %}
            offset1 span10
        {% endif %}
    {% endcapture %}
    <div class="{{speakers_style}} participants-wrap">
            {% for speaker in page.speakers %}
                {% capture align %}{% cycle 'right', 'left' %}{% endcapture %}
                {% cycle '<div class="row">', '' %}
                {% if oddness %}
                    <div class="offset1 span6">
                        <div class="media">
                            <img src="{{ page.root }}{{ speaker.photo }}" alt="" class="pull-{{ align }} speaker-photo">
                            <div class="media-body participant-desc text-{{ align }}">
                                <strong>{{ speaker.name }}</strong><br/>
                                <em>{{ speaker.description }}</em>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="span5">
                        <div class="media">
                            <img src="{{ page.root }}{{ speaker.photo }}" alt="" class="pull-{{ align }} speaker-photo">
                            <div class="media-body participant-desc text-{{ align }}">
                                <strong>{{ speaker.name }}</strong><br/>
                                <em>{{ speaker.description }}</em>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% cycle '', '</div>' %}
            {% endfor %}

            {% if oddness %}
                </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="place" >
    <img src="{{ page.root }}img/button-empty.png" alt="{{ meeting_lang.place_head_text }}">
    <h2 class="place_inner">{{ meeting_lang.place_head_text }}</h2>
</div>

<div class="row place-row place-row-single-meetup">
    <div class="offset1 span5">
        <ul class="unstyled event-list">
            {% for event in page.agenda %}
            <li>
                <span class="pull-left">{{ event.time_span }}</span>
                <p>{{ event.title }}<small>{{ event.subtitle }}</small></p>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="span5">
        <div class="row">
            <div class="span2">
                <address>
                    <strong>{{ page.place_name }}</strong><br/>
                    {{ page.place_address }}
                </address>
            </div><!--span-->
            <div class="span3" style="text-align: right">
                <address>
                    <strong>{{ page.date }}</strong><br/>
                    {{ page.start_time }}
                </address>
            </div>
        </div><!--row-->
        <div class="row" style="overflow: hidden;">
            <div class="span5">
                <iframe width="100%"
                        height="192"
                        frameborder="0"
                        scrolling="no"
                        marginheight="0"
                        marginwidth="0"
                       src="{{ page.place_gmaps_url }}"
                        ></iframe>
            </div>
        </div><!--row-->
    </div><!--span-5-->
</div>

<div class>
    {% for additional_info in page.aditional_info %}
        <div class="place" >
            <img src="{{ page.root }}img/button-empty.png" alt="{{ additional_info.title }}">
            <h2 class="place_inner">{{ additional_info.title_top }}</h2>
        </div>
        <div class="row">
        <div class="offset1 span10 participants-wrap">
            <div class="row">
                <div class="span4 offset1">
                    <div class="media">
                        <h3>{{ additional_info.title }}</h3>
                        <span>
                            {{ additional_info.text }}
                        </span>
                    </div>
                </div>
                <div class="span4">
                    <div class="media">
                        <span>
                            <img src="{{ additional_info.img }}">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="row place-row place-row-single-meetup">
    <div class="offset1 span5">
    </div>

    <div class="span5">
        <a href="{{ page.meetup_link }}" class="join pull-right" target="_blank">{{ meetup_text }}</a>
    </div><!--span-5-->
</div>
