---
layout: main
---
{% if page.language == 'en' %}
    {% assign text_prev_meeting = 'previous meeting' %}
    {% assign text_next_meeting = 'next meeting' %}
    {% assign place_head_text = 'Agenda and venue' %}
    {% assign past_text_participate = 'Speakers' %}
    {% assign future_text_participate = 'Speakers' %}
    {% assign future_meetup_text = 'Join the meetup' %}
    {% assign meetup_name = 'Meetup' %}
{% else %}
    {% assign text_prev_meeting = 'poprzednie spotkanie' %}
    {% assign text_next_meeting = 'następne spotkanie' %}
    {% assign place_head_text = 'Czas i miejsce' %}
    {% assign past_text_participate = 'Wystąpili' %}
    {% assign future_text_participate = 'Wystąpią' %}
    {% assign future_meetup_text = 'Dołącz do wydarzenia' %}
    {% assign meetup_name = 'Spotkanie' %}
{% endif %}

<ul class="inline" style="margin-bottom: 30px; margin-top: 30px;">
    <li style="float: none">
        <div class="row place-row">
            <div class="span12 text-center upcoming-header">
                <address-index>
                    <strong>{{ meetup_name }} - {{page.city}}</strong>
                </address-index>
            </div>
        </div>
    </li>
</ul>

<div class="participants" >
    <img src="img/button-empty.png" alt="{{ text_participate }}">
    <h2 class="participants_inner">{{ future_text_participate }}</h2>
</div>

<div class="row">
    {% capture rest %}{{ page.speakers.size | modulo:2 }}{% endcapture %}
    {% if rest == '0' %}{% assign oddness = false %}{% else %}{% assign oddness = true %}{% endif %}

    {% capture speakers_style %}
        {% if oddness %}
            offset2 span8
        {% else %}
            offset1 span10
        {% endif %}
    {% endcapture %}
    <div class="{{speakers_style}} participants-wrap">

        <div class="row">

            {% for speaker in page.speakers %}
                {% capture align %}{% cycle 'right', 'left' %}{% endcapture %}
                {% if oddness %}
                    <div class="offset1 span6">
                        <div class="media">
                            <img src="{{ speaker.photo }}" alt="" class="pull-{{ align }} speaker-photo">
                            <div class="media-body participant-desc text-{{ align }}">
                                <strong>{{ speaker.name }}</strong><br/>
                                <em>{{ speaker.description }}</em>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="span5">
                        <div class="media">
                            <img src="{{ speaker.photo }}" alt="" class="pull-{{ align }} speaker-photo">
                            <div class="media-body participant-desc text-{{ align }}">
                                <strong>{{ speaker.name }}</strong><br/>
                                <em>{{ speaker.description }}</em>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>


<div class="place" >
    <img src="img/button-empty.png" alt="{{ place_head_text }}">
    <h2 class="place_inner">{{ place_head_text }}</h2>
</div>

<div class="row place-row place-row-single-meetup">
    <div class="offset1 span5">
        <ul class="unstyled event-list">
            {% for event in page.agenda %}
            <li>
                <span class="pull-left">{{ event.time_span }}</span>
                <p>{{ event.title }}<small>{{ event.subtitle }}</small></p>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="span5">
        <div class="row">
            <div class="span2">
                <address>
                    <strong>{{ page.place_name }}</strong><br/>
                    {{ page.place_address }}
                </address>
            </div><!--span-->
            <div class="span3" style="text-align: right">
                <address>
                    <strong>{{ page.date }}</strong><br/>
                    {{ page.start_time }}
                </address>
            </div>
        </div><!--row-->
        <div class="row" style="overflow: hidden;">
            <div class="span5">
                <iframe width="100%"
                        height="192"
                        frameborder="0"
                        scrolling="no"
                        marginheight="0"
                        marginwidth="0"
                       src="{{ page.place_gmaps_url }}"
                        ></iframe>
            </div>
        </div><!--row-->
        <a href="{{ page.meetup_link }}" class="join pull-right" target="_blank">{{ future_meetup_text }}</a>
    </div><!--span-6-->
</div>
